<span>סנן לפי:</span>
<select class="form-control">
  <option value="" disabled selected>צריך איש עדות</option>
  <option>צריך</option>
  <option>לא צריך</option>
</select>

<select class="form-control">
  <option value="" disabled selected>צוות איש עדות</option>
  <option>צוות</option>
  <option>לא צוות</option>
</select>

<select class="form-control">
  <option value="" disabled selected>ערב פתוח</option>
  <option>פתוח</option>
  <option>סגור</option>
</select>

<input type="text" class="form-control" placeholder="חיפוש לפי שם, כתובת, מייל">

<grid keys="DashboardList.keys" data="DashboardList.data"></grid>