.view-toggle {
  position: absolute;
  top: 10px;
  left: calc(50% - 100px);
  z-index: 999;
  font-size: 0px;
  border-radius: 4px;
  box-shadow: 0 5px 5px;

  div {
    display: inline-block;
    padding: 10px;
    background: white;
    color: black;
    font-size: 14px;
    width: 100px;
    text-align: center;
    cursor: pointer;

    &.selected {
      background: orange;
      color: white;
    }
  }
}