<div class="panel panel-default">
  <div class="panel-heading">מארחים</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <div class="summary-panel-total">
          1,540
        </div>
        <div class="summary-panel-desc">סה"כ מארחים רשומים</div>
      </div>
      <div class="col-xs-8">
        גרף
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">אנשי עדות</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <div class="summary-panel-total">
          180
        </div>
        <div class="summary-panel-desc">סה"כ אנשי עדות רשומים</div>
      </div>
      <div class="col-xs-8">
        גרף
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">אורחים</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <div class="summary-panel-total">
          5,830
        </div>
        <div class="summary-panel-desc">סה"כ אורחים רשומים</div>
      </div>
      <div class="col-xs-8">
        גרף
      </div>
    </div>
  </div>
</div>